<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="jpa-1">
        <!--是 PersistenceProvider 接口的实现类-->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
		
        <!--持久化类，基于hibernate框架的JPA会自动载入映射实体类 ，可不配置-->
        <class>nerv.test.Customer</class>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:mysql://172.16.40.45:3306/test?useSSL=false&amp;serverTimezone=Asia/Shanghai"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username" value="root"/>
            <property name="hibernate.connection.password" value="root"/>
            <!-- 可选配置 -->
            <property name="hibernate.archive.autodetection" value="class"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <!--注意这个属性，自动生成的文件前面没有 hibernate，要加上 hibernate -->
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <!-- 使用 MySQL5Dialect -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>

        </properties>
    </persistence-unit>
</persistence>